<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallbackServlet</display-name>
    <servlet-name>CallbackServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallbackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminfindAllProduct</display-name>
    <servlet-name>AdminfindAllProduct</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminfindAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminfindAllProduct</servlet-name>
    <url-pattern>/findAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminfindAllCategory</display-name>
    <servlet-name>AdminfindAllCategory</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminfindAllCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminfindAllCategory</servlet-name>
    <url-pattern>/findAllCategoryAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteCategory</display-name>
    <servlet-name>AdminDeleteCategory</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminDeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCategory</servlet-name>
    <url-pattern>/deleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFindCategory</display-name>
    <servlet-name>AdminFindCategory</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminFindCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFindCategory</servlet-name>
    <url-pattern>/adminFindCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditCategory</display-name>
    <servlet-name>AdminEditCategory</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminEditCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCategory</servlet-name>
    <url-pattern>/adminEditCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProduct</display-name>
    <servlet-name>AdminDeleteProduct</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminDeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminfindProduct</display-name>
    <servlet-name>AdminfindProduct</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminfindProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminfindProduct</servlet-name>
    <url-pattern>/findProductAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProduct</display-name>
    <servlet-name>AdminEditProduct</servlet-name>
    <servlet-class>com.itheima.web.servlet.AdminEditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProduct</servlet-name>
    <url-pattern>/adminEditProduct</url-pattern>
  </servlet-mapping>
</web-app>